 <nav>
    <img src="https://cdn-icons-png.flaticon.com/512/5501/5501375.png" alt="">
    <a href="/">home</a>
    <a href="/expense/create">create expense</a>
    <a href="/expense/show">show expense</a>
    <a href="/about">about</a>
</nav>